appdirs==1.4.4
bonobo==0.6.4
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
fs==2.4.11
graphviz==0.8.4
idna==2.10
Jinja2==2.11.2
MarkupSafe==1.1.1
mondrian==0.8.1
packaging==19.2
pbr==5.5.1
psutil==5.8.0
pyparsing==2.4.7
python-slugify==1.2.6
pytz==2020.4
requests==2.25.1
six==1.15.0
stevedore==1.32.0
Unidecode==1.1.2
urllib3==1.26.2
whistle==1.0.1
